/**************************************/
/*           GENERAL                  */
/**************************************/

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family "Open Sans", sans-serif;
  font-weight: 100;
  margin: 0;
}

h2 {
  font-size: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  color: #6991AC;
  text-decoration: none;

}

a:hover {
  color: #D75C37;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

blockquote {
  margin: 2rem 0;
  color: #5B6165;
  font-size: 1.2rem;
}

.quote-footer {
  text-align: left;
}

.overall-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/**************************************/
/*           COLORS                   */
/**************************************/

.medBlue {
  background: #6991AC;
}

.darkGrey {
  color: #394042;
}

.lightBlue {
  color: #C3D7DF;
}

/**************************************/
/*           NAV                      */
/**************************************/

nav {
  background: #5B6165;
}

.nav-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 90%;
}

.nav-bar li a {
  color: #fff;
  display: inline-block;
  padding: 1rem 2rem;
  width:100%;
}

.nav-bar li:hover {
  background: #D75C37;
  background: #394042;
}

@media screen and (max-width: 600px) {
  .nav-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
  }
  nav {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }

  #contact {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }

  footer {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }
}


/**************************************/
/*           HEADER                   */
/**************************************/

header {
  background: #6991AC;
  text-align: center;
  min-height: 15vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem 0;
}

header h1, header h2, header h4, header a {
  color: #fff;
}

header h1 {
  font-size: 4rem;
  letter-spacing: 6px;
}

header h1, header h2 {
  margin-bottom: 1rem;
}

header h2 {
  font-size: 2rem;
  letter-spacing: 1px;
}

header h4 {
  letter-spacing: 1px;
  margin-bottom: 2.5rem;
}

header a {
  padding: 20px 50px 18px 50px;
  background: #394042;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
}

@media screen and (max-width: 550px) {
  header h1 {
    font-size: 3.7rem;
  }

  header h2 {
    font-size: 1.7rem;
  }
}

/**************************************/
/*           ABOUT                    */
/**************************************/

#about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#about img {
  max-width: 100%;
  height: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 50%;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

#about article {
  padding: 5rem;
}

@media screen and (max-width: 1201px) {
  #about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about img {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 767px) {
  #about img {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #about article {
    padding: 3rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  #about article {
    padding: 3.5rem;
  }
}

/**************************************/
/*           SKILLS                   */
/**************************************/

#skills {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
          flex-flow: wrap;
  background: #F5F5F5;
  min-height: 28vh;
}

#skills h2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  text-align: center;
}

#skills-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
          flex-flow: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  padding-top: 1rem;
}

.skills-blocks {
  padding: 2rem;
  text-align: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 14%;
      -ms-flex-preferred-size: 14%;
          flex-basis: 14%;
}

.skills-blocks i {
  font-size: 3rem;
}

@media screen and (max-width: 750px) {
  .skills-blocks {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }

  #skills h2 {
    padding-top: 1rem;
  }
}

@media screen and (min-width: 751px) and (max-width: 1149px) {
  .skills-blocks {
    -webkit-flex-basis: 33%;
        -ms-flex-preferred-size: 33%;
            flex-basis: 33%;
  }

  #skills h2 {
    padding-top: 1.5rem;
  }
}

@media screen and (max-width: 1150px) {
  #skills-wrapper {
    width: 90%;
  }
}
/**************************************/
/*           PORTFOLIO                */
/**************************************/

.portfolio {
  background: #fff;
  text-align: center;
  padding: 3rem 0;
}

.portfolio h2 {
  padding: 1rem 0 3rem 0;
  font-size: 2rem;
}

.portfolio h3 {
  font-weight: 700;
}

.portfolio ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
          flex-flow: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.portfolio li {
  border: 1px solid #dddddd;
  padding: 3rem 0;
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
}

.portfolio img {
  max-width: 150px;
  max-height: 150px;
}

.portfolio p {
  margin: .3rem 0;
}

.tech-stack {
  font-style: italic;
}

.portfolio-btn {
  background: #262b2c;
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  margin-top: .5rem;
  display: inline-block;
}

.portfolio-btn:hover {
  background: #707C80;
}

@media screen and (max-width: 550px) {
  .portfolio {
   padding-bottom: 0;
  }
  .portfolio li {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    border-bottom: 1px solid #dddddd;
    border-top: none;
    padding: .4rem 0 2.6rem 0;
  }

  .portfolio h2 {
    padding: 0;
  }
}

@media screen and (min-width: 551px) and (max-width: 1200px) {
  .portfolio li {
    -webkit-flex-basis: 45%;
        -ms-flex-preferred-size: 45%;
            flex-basis: 45%;
    margin-bottom: 2rem;
  }
}



/**************************************/
/*           CONTACT                  */
/**************************************/

#contact {
  background: #C3D7DF;
  padding: 2rem 0;
  text-align: center;
}

#contact h2 {
  color: #394042;
  font-size: 18x;
  font-family: 'Bariol-Regular', serif;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

#contact i {
  color: #394042;
}

#contact i:hover {
  color: #D75C37;
}

#contact ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}


.copyright {
  margin-top: 2rem;
}


/**************************************/
/*           CONTACT                  */
/**************************************/

footer {
  text-align: center;
  font-size: .8rem;
}

@media screen and (max-width: 1201px) {
  #contact ul {
    width: 95%;
    padding-left: 0;
  }

}



/**************************************/
/*           ENABLE                   */
/**************************************/

.portfolio-page-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio-header {
  background: #6991AC;
  width: 100%;
  padding: 2rem 0;
}

.portfolio-header h1 {
  font-weight: bold;
}

.portfolio-header h1, .portfolio-header h2 {
  color: #fff;
  text-align: center;
}

.portfolio-header h2 {
  font-size: 1.5rem;
}

.portfolio-description {
  margin-bottom: 1rem;
  width: 80%;
  margin: 0 auto;
  border; 1px solid red;
}

.portfolio-description a {
  color: #6991AC;
}

.portfolio-description ul {
  padding-left: 2rem;
}

.portfolio-description li {
  list-style: circle;
  padding: .3rem;
}

.screenshots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}

.screenshots h3 {
  background: #C3D7DF;
  color: #fff;
  padding: .8rem;
  margin-bottom: 1rem;
  text-align: center;
}

.screenshots img {
  max-width: 100%;
  height: auto;
  border: 1px solid #E3E4E4;
  padding: 5px;
}

figcaption {
  font-style: italic;
  font-size: .8rem;
  text-align: center;
}

figure {
  padding-bottom: 1rem;
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  .portfolio-page-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .portfolio-description {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    padding: 1rem 3rem .5rem 2rem;
    text-align:right;
    background: #F5F5F5;
  }

  .portfolio-description li {
    list-style: none;
  }

  .description {
    color: #6991AC;
  }

  .screenshots {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    max-height: 100%;
    margin-top: 0;
    padding-top: 1rem;
    overflow: scroll;
  }

  .screenshots h3 {
    display: none;
  }
}
